// Color Theme
$light-gray: #efefef;
$white: #fff;
$solid-gray: #555;
$dark-black: #000;
$normal-black: #111;
$normal-little-black: #252525;   
$leaf-light-green: rgb(152,197,86);
$leaf-dark-green: rgb(55, 139, 65);
$radial-green-gradient: radial-gradient(circle, rgba(152,197,86,1) 0%, rgba(187,211,83,1) 47%, rgba(228,227,78,1) 100%);
$linear-green-gradient: linear-gradient(90deg, rgba(152,197,86,1) 0%, rgba(187,211,83,1) 47%, rgba(228,227,78,1) 100%);


//font size
$base-font: 14px;


// transition

$transition03: all 0.3s;
$transition04: all 0.4s;
$transition05: all 0.5s;
