.footer{
    background-color: #f6f6f6;
    padding: 40px 70px 25px;
    .footer-social{
        width: 100%;
        text-align: center;
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 0;
 
        li a{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            svg{
                font-size: 20px;
            }
        }
    }
    .footer-logo{
        padding: 40px 0;
        text-align: center;
        .footer-url {
            img {
                max-height: 120px;
            }
        }
    }
    .footer-copyright{
        text-align: center;
        font-size: 13px;
        line-height: 1.2;
        color: #252525;
    }
}